*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 1px solid #246861;
  background-color: rgb(255, 228, 196, 0.3);
  --morumsu: #4731D3;
  --limon: #CBF281;
}

section {
  height: 50vh;
  padding: 5vh max(10vw, 5rem);
}

.hero-section {
  background: linear-gradient(to right, var(--morumsu) 80%, var(--limon) 50%);
}

.hero-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content auto;
}

.header-container {
  grid-column: 1/9;
  grid-row: 1/2;
}

.hero-left {
  grid-column: 1/6;
  grid-row: 2/3;
}

.hero-content img {
  grid-column: 7/9;
  grid-row: 2/3;
  margin: auto;
}

.box {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right, red 50%, green 50%);
}