*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  border: 1px solid #246861;
  background-color: rgb(255, 228, 196, 0.3);
  --morumsu: #4731d3;
  --limon: #cbf281;
  --btnclr: #3730a3;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 10%);
  grid-template-rows: repeat(5, auto);
}

.hero-section {
  grid-row: 1/2;
}

.skills-section {
  grid-row: 2/3;
}

.profile-section {
  grid-row: 3/4;
}

.projects-section {
  grid-row: 4/5;
}

.footer-section {
  grid-row: 5/6;

}