*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  border: 1px solid #246861;
  background-color: rgb(255, 228, 196, 0.3);
  --morumsu: #4731d3;
  --limon: #cbf281;
  --btnclr: #3730a3;
}

section {
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.hero-section {
  background: linear-gradient(to right, var(--morumsu) 70%, var(--limon) 30%);
}

.hero-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: min-content auto;
}

.header-container {
  grid-column: 2/7;
  grid-row: 1/2;
}

.lang {
  grid-column: 7/8;
  width: 100%;
}

.dark-theme {
  grid-column: 8/9;
  width: 100%;
}

.hero-left {
  grid-column: 2/7;
  grid-row: 2/3;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.hero-img {
  grid-column: 7/9;
  grid-row: 2/3;
  margin: auto;
}

h1 {
  color: var(--limon);
  font-size: xxx-large;
  padding-bottom: 1.5rem;
}

p {
  color: white;
  font-size: 2rem;
}

.hero-btns {
  display: flex;
  gap: 1rem;
  color: var(--btnclr);
}

.hero-btns button {
  padding: 0.3em;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  border-radius: 1em;
}

.hero-btns button img {
  width: 30%;
}

span {
  font-size: x-large;
}
